##############################################################
#
# List of approvers/reviewers for Keptn examples
#
##############################################################
#
# Get in touch with us via the Keptn Community
#  https://github.com/keptn/community
# 
#
# Learn about CODEOWNERS file format: 
#  https://help.github.com/en/articles/about-code-owners
#

# These owners will be the default owners for everything in the repo.
* @AloisReitbauer @thisthat @oleg-nenashev
unleash-server/* @jetzlstorfer @oleg-nenashev
simplenodeservice/* @grabnerandi @oleg-nenashev
